body{
	color: blue;
	font-family: "Arial";
	text-align: left;
	margin:0;
	padding: 0;
	font-size: 16px;
}
.container{
	width: 70%;
	padding: 0;
	border: 1px solid #dddddd;
	margin:20px auto;
}
.container h1{
	font-size: 20px;
}
.container .post{
	padding: 1em;
}
#cabecera{
	background-color: #33a;
	color:#ffffff;
	padding: 1em;
	display: block;
}